@{
    ViewData["Title"] = "Index";
}
@model List<GetClassroomVM>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Sınıflar</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sınıf</th>
                                <th>Kurs</th>
                                <th>Açıklama</th>
                                <th>Eğitmen</th>
                                <th>Başlangıç</th>
                                <th>Bitiş</th>
                                <th>Mevcut</th>
                                <th>Durum</th>
                                <th>Eklenme Tarihi</th>
                                <th>Güncellenme Tarihi</th>
                                <th>Güncelle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var classroom in Model)
                            {
                                <tr>
                                    <td>@classroom.Name</td>
                                    <td>@classroom.CourseName</td>
                                    <td>@classroom.Description</td>
                                    <td>@classroom.TeacherName</td>
                                    <td>@classroom.StartDate</td>
                                    <td>@classroom.EndDate</td>
                                    <td>@classroom.ClassroomSize</td>
                                    <td>@classroom.Status</td>
                                    <td>@classroom.CreatedDate</td>
                                    <td>@classroom.UpdatedDate</td>
                                    <td>
                                        <a asp-action="UpdateClassroom" asp-route-id="@classroom.Id" class="btn btn-outline-primary">Güncelle</a>
                                    </td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-@classroom.Id">
                                            Sil
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal-@classroom.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Silme Uyarısı!</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        @classroom.Name sınıfını silmek istediğinize emin misiniz?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                        <a asp-action="DeleteClassroom" asp-route-id="@classroom.Id" class="btn btn-danger">Evet</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-dark d-block" asp-action="CreateClassroom">Yeni Sınıf Ekle</a>
            </div>
        </div>
    </div>
</div>
